<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel = "tests" thread-count="5">
  <test name="Test1"  >
    <!--Driver type, Make sure to choose one of this (Sauce/Grid/Local)  don't choose whatever you need -->
    <parameter name="driverType" value="local" />

    <!-- App Related Properties -->
    <parameter name="locale" value="US_en" />
    <parameter name="tunnel" value="no" />

    <!-- Browser Related Propertiess -->
    <!-- Should be one of the browser (chrome/safari/firefox/iexplorer/edge-->
    <parameter name="browser" value="chrome" />
    <parameter name="browserVersion" value="74" />
    <parameter name="browserPlatform" value="Windows 10" />

    <!-- Test case to run -->
    <classes>
      <class name="com.accelerator.automation.runners.DefaultRunner"/>
    </classes>
  </test>
</suite> 
